<footer class="footer">
    <div class="contianer">
        <div class="footer__top">
            <div class="footer-top__box">
                <h3>SERVICE CLIENT</h3>
                <a href="#">Service client</a>
                <a href="#">Livraison</a>
                <a href="#">Moyens de paiement</a>
                <a href="#">Échange et retours</a>
                <a href="#">Contactez-nous</a>
            </div>
            <div class="footer-top__box">
                <h3>A PROPOS DE NOUS</h3>
                <a href="#">About Universal Nutrition </a>
                <a href="#">Nos marques</a>
                <a href="#">Traitement des cookies</a>
                <a href="#">Politique de confidentialité</a>
                <a href="#">Conditions générales de vente</a>
            </div>
            <div class="footer-top__box">
                <h3>FOLLOW US</h3>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Blog</a>
                <a href="#">Newsletter</a>
            </div>
            <div class="footer-top__box">
                <h3>CONTACT US</h3>
                <div>
            <span>
              <svg>
                <use xlink:href="/images/sprite.svg#icon-location"></use>
              </svg>
            </span>
                    00 Bourgogne, Casablanca, Morocco
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="/images/sprite.svg#icon-envelop"></use>
              </svg>
            </span>
                    universal.nutrition@gmail.com
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="/images/sprite.svg#icon-phone"></use>
              </svg>
            </span>
                    0661616161
                </div>
                <div>
            <span>
              <svg>
                <use xlink:href="/images/sprite.svg#icon-paperplane"></use>
              </svg>
            </span>
                    Casablanca, Morocco
                </div>
            </div>

        </div>
        <div class="text-center text-white" style="margin-top: 2rem;">Copyrights 2020. Design by EL MERZOUKI Yassine</div>
    </div>

    </div>
</footer>