{% load cart_template_tags %}
<header id="header" class="header">
    <div class="header__top">
        <div class=" strip d-flex justify-content-between px-4 py-1 bg-light">
            <div class="font-rale font-size-14" style="padding-left:85% ;">
                <a href="#" class="px-3 border-right border-left text-dark text-right">Nous contacter</a>
                <a href="#" class="px-3 border-right text-dark">Aide</a>
            </div>
        </div>
    </div>

    <div class="navigation color-primary-bg" style=" background-image: linear-gradient(-90deg,#1c6eab 20%,rgba(30,140,153,0.9) 60%,#1e8c99);">
        <div class="container">
            <nav class="nav ">
                <div class="nav__hamburger navbar-toggler">
                    <svg>
                        <use xlink:href="/images/sprite.svg#icon-menu"></use>
                    </svg>
                </div>

                <div class="nav__logo">
                    <a href="/" class="scroll-link">
                        <strong><em> Universal </em></strong> Nutrition
                    </a>
                </div>

                <div class="nav__menu">


                    <ul class="search-input navbar-nav m-auto ">
                        <div class="form-group has-search">
                            <span class="fa fa-search form-control-feedback"></span>
                            <input class="search-input form-control form-control-sm mr-sm-2 mb-0" type="text" style="font-size: 15px;" placeholder="Rechercher " >
                        </div>
                    </ul>
                </div>

                <div class="nav__icons">
                <div class="dropdown">
                    <a href="#" class="icon__item" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        <svg class="icon__user">
                            <use xlink:href="/images/sprite.svg#icon-user"></use>
                        </svg>
                    </a>
                    {% if request.user.is_authenticated %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item font-size-18" href="#">{{request.user.username}}</a>
                        <a class="dropdown-item font-size-18" href="{% url 'account_logout' %}">Déconnexion</a>
                    </div>
                    {% else %}
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item font-size-18" href="{% url 'account_login' %}">Se Connecter</a>
                        <a class="dropdown-item font-size-18" href="{% url 'account_signup' %}">S'inscrire</a>
                    </div>
                    {% endif %}
                </div>
                    <a href="#" class="icon__item">
                        <svg class="icon__search">
                            <use xlink:href="/images/sprite.svg#icon-search"></use>
                        </svg>
                    </a>

                    <a href="{% url 'core:order-summary' %}" class="icon__item">
                        <svg class="icon__cart">
                            <use xlink:href="/images/sprite.svg#icon-shopping-basket"></use>
                        </svg>
                        <span id="cart__total">{{ request.user|cart_product_count }}</span>
                    </a>
                </div>
            </nav>
        </div>
        <nav id="nav-down" class="nav navbar navbar-expand-lg color-second-bg " >

            <div class="nav__menu2 " >
                <div class="menu__top">
                    <a href="" class="home">
                        <img src="https://img.icons8.com/metro/26/000000/home.png" class="color-primary"/>
                    </a>
                    <a href="#" class="close__toggle">
                        <svg>
                            <use xlink:href="/images/sprite.svg#icon-cross"></use>
                        </svg>
                    </a>
                </div>
                <hr>
                <ul class="nav__list ">
                    <li class="nav__item ">
                        <a href="/products/Protéine" class="nav__link scroll-link color-primary" >Protéine</a>
                    </li>
                    <li class="nav__item ">
                        <a href="/products/Gainers" class="nav__link scroll-link  color-primary">Vêtements & Accessoires</a>
                    </li>
                    <li class="nav__item ">
                        <a href="/products/Vitamines" class="nav__link scroll-link color-primary">Vitamines</a>
                    </li>
                    <li class="nav__item ">
                        <a href="#" class="nav__link scroll-link color-primary">Barres & Snacks</a>
                    </li>
                    <li class="nav__item">
                        <a href="/products/Packs" class="nav__link scroll-link color-primary">Pack</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link scroll-link color-primary">Blog</a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>

</header>